/* --- EASYDROPDOWN DEFAULT THEME --- */

/* PREFIXED CSS */
@charset "utf-8";
@import "./lib/lib-rem";
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    vertical-align:baseline;
    background:transparent;
}
ul,li{
	list-style:none;
}
body {
    width: 100%;
	font-family: 'Microsoft YaHei, 微软雅黑,MicrosoftJhengHei, 华文细黑, STHeiti,MingLiu, Helvetica Neue, Helvetica, STHeiTi, sans-serif,Tahoma,Arial,Roboto,"Droid Sans","Helvetica Neue","Droid Sans Fallback","Heiti SC",sans-self;';
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}


